	/* CSS Reset Code */
	
	* {
		padding: 0;
		margin: 0;
	}

	 ul {
		list-style: none;
	}

	 img {
	 	width: 200px;
	 	height: 200px;
	 	border-radius: 50%;
	 	display:block;
	 	margin-top: 100px;
	 	margin-left: auto;
	 	margin-right:auto;
	 }
	footer {
		margin-top: 100px;
		padding-top: 100px;
	}

	li:last-child {
		border:none;
	 }

	 /*body*/

	 body {
	 	text-align: center;
	 	font-family: arial;
	 	background-color: whitesmoke;
	 }

	li {
		display: inline;
		border-right: 2px solid paleturquoise;
		margin-right: 5px;
		font-size: 16px;
	}

	h1 {
		font-family: 'Work Sans', sans-serif;
		font-size: 40px;
		margin-top:40px;
		margin-bottom:20px;
		font-color:black;
	}

	h1 a:hover {
		font-size: 42px;
		font-weight: bold;
	}

	/*links*/
	a {
		text-decoration: none;
	}
	ul a:link {
		color:darkturquoise;
	}
	a:hover {
		font-weight: bold;
		font-size: 16px;
	}
	a:visited {;
		color:cadetblue;

	}

	/*about me page*/

