/*reset*/
* {
	margin: 0;
	list-style: none;
}
/*google map*/
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

/*main body*/
h1 {

}

body {
	font-family: Arial, Helvetica, sans-serif;	

}

header {
	width: auto;
	background-color:gray ;
	margin-left: auto ;
 	margin-right: auto;
 	border-bottom: black 2px solid;
 	border-top: black 2px solid;
 	height: auto;

}

header ul {
	display: flex;
	font-size: 18px;
}

header li  {
	flex:1;
	padding-top: 6px;
	border-right: 1px solid black;
	padding-bottom: 5px;
}

header a {
	text-decoration: none;

}

form {
	padding-bottom: 20px;
	padding-top: 20px;
}

.entry {
	width:200px;
	height:24px;
}

button {
	width: 100px;
	height: 30px;
}
/*map area*/

.map-placeholder {
	border: black 2px solid;
	width: 1200px;
	height: 630px;
	margin-left: 20px ;
 	margin-right: auto;
 	position: absolute;
}


/*dessert list*/
.dessert-list {
	border: black 1px solid;
	background-color: gray;
	width: 400px;
	height: auto;
	margin-left: 30px;
	padding-right: 10px;
	margin-top: 10px;
	position: relative;
}

.donuts {
	width: 300px;
	height: auto;
}
