html {
        min-width: 750px;
    }
* {
  margin: 0;
  list-style: none;
}
body {
  text-align: center;
  background-color: black;
  font-size: 26px;
  font-family: arial;
  padding-top: 40px;
}

h1 {
    font-family: 'Advent Pro', sans-serif;  
    font-size: 60px;
    padding-bottom: 10px;
    color:paleturquoise;
    border-bottom: 2px solid darkgray;
    bottom-margin:90px;
}

p {
  color:white;
  display: inline;
}

.text {
  padding-bottom: 60px;
  padding-top: 10px;

}

div {
  text-align: center;
}

.temp-f,
.temp-c {
  font-size: 40px;
  height:80px;
}

.temp-c {
  margin-left: 30px;
}

.calculator {
  border: solid 20px cadetblue;
  padding-bottom: 30px;
  padding-top:10px;

}

.arrow {
  padding-left: 40px;
  font-size: 90px;
}

.degree {
  font-size:60px;
}

.reset {
  margin-top: 20px;;
}

button.placeholder {
  text-align: right
}

button {
  font-size: 20px;
  color:black;
  background-color: paleturquoise;
  font-family: arial;
  border-radius: 5px;
}

br {
  display: inline;
}
